# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\developer\workspace\enjoy-in-train\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
